.form__title {
  text-align: center;
  margin-bottom: 12px;

  @include font($fw: 700, $fs: 20px, $lh: 30px, $ls: 0.03em);

  color: var(--title-text-color);
}
.modal-form {
  display: flex;
  flex-direction: column;

  &__lable {
    position: relative;
    display: block;
    margin-bottom: 10px;

    @include font($fs: 12px, $lh: 14px, $ls: 0.01em);

    color: var(--primary-text-color);
    transition: fill 250ms var(--timing-function);
  }

  &__lable:focus-within {
    fill: var(--accent-color);
  }

  &__input {
    margin-top: 4px;
    padding-top: 11px;
    padding-left: 42px;
    padding-bottom: 11px;

    width: 370px;
    height: 40px;

    border: 1px solid var(--m0dal-input-border);
    box-sizing: border-box;
    border-radius: 4px;

    transition: border 250ms var(--timing-function);
  }

  &__input:focus {
    outline: none;
    border: 1px solid var(--accent-color);
  }

  &__input--svg {
    position: absolute;

    top: 29px;
    left: 12px;
  }

  &__textarea {
    margin-bottom: 20px;
  }

  &__comment {
    resize: none;

    padding: 12px 16px;
    width: 370px;
    height: 120px;
  }

  &__checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    @include font($fs: 12px, $lh: 14px, $ls: 0.03em);

    color: var(--primary-text-color);
  }
}

@media screen and (min-width: 1200px) {
  .modal-form__input {
    width: 448px;
  }
  .modal-form__comment {
    width: 448px;
  }
  .modal-form__checkbox {
    @include font($fs: 14px, $lh: 24px, $ls: 0.03em);
  }
}
