.subtitle {
  margin-bottom: 50px;
  text-align: center;

  color: var(--title-text-color);

  @include font($fw: 700, $fs: 28px, $lh: 33px);
}

@media screen and (min-width: 1200px) {
  .subtitle {
    @include font($fw: 700, $fs: 36px, $lh: 42px);
  }
}
