:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --hero-text-color: #ffffff;
  --hero-background-color: #2f303a;
  --team-background-color: #f5f4fa;
  --team-border-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --header-border-color: #ececec;
  --logo-footer-color: #000000;
  --hero-background-image-color: rgba(47, 48, 58, 0.4);
  --modal-button-shadow: rgba(0, 0, 0, 0.15);
  --modal-button-background: #188ce8;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --footer-sosial-background-color: rgba(255, 255, 255, 0.1);
  --progects-card-border: #eeeeee;
  --clients-border-color: #afb1b8;
  --projects-focus-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  --btn-filter-focus-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --backdrop-background-color: rgba(0, 0, 0, 0.2);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --services-background-color: rgba(47, 48, 58, 0.8);
  --footer-form-border-color: rgba(255, 255, 255, 0.3);
  --projects-overlay-color: rgba(33, 150, 243, 0.9);
  --m0dal-input-border: rgba(33, 33, 33, 0.2);
}
